@import url(../common/normalize.css);
@import url(../common/base.css);
* {
  box-sizing: border-box; }

a {
  color: #000; }

a:hover {
  color: #000;
  text-decoration: none; }

.star5, .star4, .star3, .star2, .star1 {
  height: 18px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'><path fill='#ff9000' d='m496.52887,736.87439l112.46838,-346.20175l364.01178,0l-294.48053,-213.97614l112.4809,-346.2005l-294.48053,213.96616l-294.53922,-213.96616l112.48215,346.2005l-294.4818,213.97614l364.01427,0l112.5246,346.20175z'  transform='translate(0, 812) scale(1, -1)'/></svg>"); }

.star5 {
  width: 90px; }

.star4 {
  width: 74px; }

.star3 {
  width: 58px; }

.star2 {
  width: 32px; }

.star1 {
  width: 16px; }

.star {
  width: 90px;
  height: 18px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'><path fill='#cacaca' d='m496.52887,736.87439l112.46838,-346.20175l364.01178,0l-294.48053,-213.97614l112.4809,-346.2005l-294.48053,213.96616l-294.53922,-213.96616l112.48215,346.2005l-294.4818,213.97614l364.01427,0l112.5246,346.20175z'  transform='translate(0, 812) scale(1, -1)'/></svg>"); }

.top10container {
  padding: 0; }
  .top10container .topsearch {
    width: 100%;
    height: 100px;
    background: pink; }
  .top10container .main-content, .top10container .top10-content {
    clear: both;
    width: 100%;
    background: #eee; }
  .top10container .category {
    height: 36px;
    width: 100%;
    line-height: 30px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    padding: 0 13px;
    background-image: linear-gradient(white, #ebebeb); }
    .top10container .category a {
      color: #5a5a5a; }
    .top10container .category a:hover {
      color: #5a5a5a; }
  .top10container .title {
    margin: 10px 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #874604;
    height: 38px;
    line-height: 38px;
    padding-left: 10px; }
  .top10container .goodsTop10List {
    padding: 0 5px; }
    .top10container .goodsTop10List ul li a {
      display: block;
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      background: url("../../images/arrow1.gif") no-repeat right center;
      border-bottom: 1px solid #cccccc;
      font-weight: bold; }
  .top10container .question, .top10container .cellRanking, .top10container .newestComment {
    height: 36px;
    line-height: 36px;
    color: #a24604;
    font-weight: bold;
    font-size: 16px;
    padding: 0 10px;
    border-bottom: 1px solid #cccccc; }
  .top10container .answerList ul li {
    border-bottom: 1px solid #cccccc;
    background: url("../../images/arrowRight.png") no-repeat right center; }
    .top10container .answerList ul li a {
      margin: 10px;
      display: block;
      font-size: 16px;
      height: 40px;
      line-height: 40px; }
      .top10container .answerList ul li a span {
        background-color: #c9c9c9;
        color: #fff;
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 10px;
        font-weight: bold;
        margin-right: 10px; }
      .top10container .answerList ul li a h4 {
        font-size: 16px;
        height: 20px;
        line-height: 20px; }
      .top10container .answerList ul li a p {
        font-size: 12px;
        color: #999;
        height: 20px;
        line-height: 20px; }
  .top10container .answerList ul li:nth-child(2) .num {
    background-color: #f10e0e; }
  .top10container .answerList ul li:nth-child(3) .num {
    background-color: #ff9314; }
  .top10container .answerList ul li:nth-child(4) .num {
    background-color: #8adf5b; }
  .top10container .cellRankCont ul li {
    border-bottom: 1px solid #cccccc;
    height: 140px; }
    .top10container .cellRankCont ul li a {
      display: flex; }
      .top10container .cellRankCont ul li a div img {
        width: 100px;
        height: 100px;
        margin: 10px; }
      .top10container .cellRankCont ul li a .info {
        flex: 1;
        margin-right: 5px; }
        .top10container .cellRankCont ul li a .info .tit {
          margin: 10px 0;
          font-size: 14px;
          line-height: 22px;
          color: #000; }
        .top10container .cellRankCont ul li a .info .star9 {
          width: 100%;
          padding-right: 10px; }
          .top10container .cellRankCont ul li a .info .star9 .price {
            height: 20px;
            line-height: 20px;
            font-size: 14px;
            color: #ea3900; }
        .top10container .cellRankCont ul li a .info .other {
          height: 32px;
          line-height: 32px;
          font-size: 12px;
          color: #999; }
          .top10container .cellRankCont ul li a .info .other em {
            font-style: normal; }
  .top10container .newestCommentCont ul li {
    padding: 10px;
    border-bottom: 1px solid #cccccc; }
    .top10container .newestCommentCont ul li .info {
      display: flex;
      margin-bottom: 10px;
      width: 100%;
      height: 80px; }
      .top10container .newestCommentCont ul li .info img {
        width: 80px;
        height: 100%;
        margin-right: 10px; }
      .top10container .newestCommentCont ul li .info .tit {
        flex: 1;
        line-height: 22px;
        font-size: 14px;
        color: #999; }
    .top10container .newestCommentCont ul li .com {
      border: 1px solid #e7e7e7;
      background-color: #f8f8f8;
      position: relative;
      padding: 10px; }
      .top10container .newestCommentCont ul li .com .triangle {
        position: absolute;
        top: -6px;
        left: 30px;
        width: 8px;
        height: 8px;
        transform: rotate(-45deg);
        border-top: 1px solid #e7e7e7;
        border-right: 1px solid #e7e7e7;
        background-color: #f8f8f8; }
      .top10container .newestCommentCont ul li .com .name {
        width: 100%;
        height: 18px;
        line-height: 18px; }
        .top10container .newestCommentCont ul li .com .name .comNam {
          position: relative;
          right: 0; }
      .top10container .newestCommentCont ul li .com .comContent {
        line-height: 22px;
        font-size: 15px;
        margin-top: 10px;
        color: #000; }

.footer {
  width: 100%;
  height: 96px;
  background-color: pink; }

/*# sourceMappingURL=top10.css.map */
