@charset "UTF-8";
@import"base.css";
@import "../../JS/lib/normalize.css";
//国内折扣导航条
.discount{
.topbar{
  width: 100%;
  height: 50px;
  background-color:#ff841d;
  color: white;
  text-align: center;
 font-size: 26px;
  line-height: 50px;
  box-sizing: border-box;
.arrow{
  float: left;
  line-height: 50px;
  width: 10px;
  padding-left: 10px;
  color: white;
}
}

//goodpart部分

  .container-fluid{
    //height: 2600px;
    .everypart{
      border: 1px solid #eeeeee;
      height: 266px;
      width: 172px;
      box-sizing: border-box;
      padding-top:20px;
      img{
        height: 138px;
        width: 142px;

      }
      .linkDetail{
        display: block;
        height: 50px;
        line-height: 50px;
        color: black;
        overflow: hidden;
      }
      p:last-of-type{
        color: #ff6c00;
        height: 24px;
        line-height: 24px;
        overflow: hidden;
      }
      span{
        font-size: 10px;
        color: #a1a1a1;
      }

    }
  }




//底部导航
.bottombar{
  width: 100%;
  height: 91px;
  //position: absolute;
  //bottom: 0;
  //left: 0;
  background-color:#efefef;
  ul{
    box-sizing: border-box;
    border-left: 1px;
    margin: 0;
    li{
      width: 33.33%;
      float: left;
      border: 1px solid #c4c4c4;
      margin-right: -1px;

      a{
        display: block;
        height: 33px;
        line-height: 33px;
        color: black;
        text-align: center;

      }
    }
    p{
      margin: 0px;
      padding-top: 51px;
      text-align: center;
      span:first-of-type{
        color: red;
      }
      span:last-of-type{
        color: gray;
      }
    }
    a{
      display: block;
      text-align: center;
      height: 20px;
      line-height: 25px;
    }
  }
}

  .btnbuy{
    color: white;
  margin-top: 20px;
    background-color: #ff900f;
    margin-bottom: 20px;
  }
  .conment{
    height: 300px;
   .newest{
     height: 30px;
     line-height: 40px;
   }
    .personConment{
      vertical-align: top;
      img{
        height: 50px;
        width: 50px;
        border-radius: 50%;

      }
    }
  }
  .goodsDetail{
    a{
    img{
      width: 200px;
      height: 200px;
    }
    }
  }
}


